<div data-component="Abstract" class="c-abstract">
  <div class="o-grid -gutters-x -cols || o-container">
    <div data-ref="asterisk" data-split class="c-abstract_asterisk || o-grid_item || u-gc-1/4@from-md">
      *
    </div>
    <h2 data-ref="title" data-split class="c-abstract_astrerisk || o-grid_item || u-gc-5/16@from-md || c-heading -h2">
      {{ title }}
    </h2>
    <div data-ref="text" data-split class="c-abstract_text || o-grid_item || u-gc-5/13@from-md || c-text -body">
      {{ text }}
    </div>
    <div data-ref="button" data-split class="o-grid_item || u-gc-5/15@from-md ||">
      <a class="c-abstract_button c-button -arrow">
        {{ button.button_text }}
      </a>
    </div>
  </div>
</div>