<div data-component="Magazine" class="c-magazine">
  <div class="c-magazine_inner">
    <div class="c-magazine_image -image-1">
      <img class="c-image -cover -full" src="{{ images.0.url }}" alt="{{ images.0.alt }}">
    </div>
    <div class="c-magazine_content">
      <div class="c-magazine_content_top">
        <h2 class="c-magazine_section-title || c-text -body-section -asterisk">
          {{ section_title }}
        </h2>
        <h3 class="c-magazine_title c-heading -h2">
          {{ title }}
        </h3>
      </div>
      <div class="c-magazine_text || c-text -body">
        {{ text }}
      </div>
    </div>
    <div class="c-magazine_image -image-2">
      <img class="c-image -cover -full" src="{{ images.1.url }}" alt="{{ images.1.alt }}">
    </div>
  </div>
</div>