<!doctype html>
<html lang="{{ site:attributes:bcp_47 }}" data-lang="{{ site:locale }}" data-theme="light" class="cc--lightmode">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {{ partial:fragments/seo }}
    {{ partial:fragments/favicon }}
    {{ partial:fragments/_tracking }}

    {{ vite src="resources/scripts/app.js" }}
  </head>
  <body>
    <div class="root-content">
      {{ partial:navigations/skip_to_content }}
      
      <main data-load data-cookie="{{ seo:use_cookie }}">
        {{ template_content }}
      </main>

      {{ partial:fragments/scroll_indicator }}
      {{ partial:navigations/footer }}
      {{ partial:navigations/menu }}
      {{ partial:navigations/header }}
      {{ partial:navigations/logo }}
      {{ partial:components/transition }}
    </div>
  </body>
</html>