<!doctype html>
<html lang="{{ site:locale }}" data-theme="dark" class="cc--darkmode">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        {{ partial:fragments/seo }}
        {{ partial:fragments/favicon }}
        {{ partial:fragments/_tracking }}

        {{ vite src="resources/scripts/app.js" }}
    </head>
    <body>
        {{ partial:navigations/header }}
        {{ partial:navigations/skip_to_content }}

        <main data-load data-cookie="{{ seo:use_cookie }}">
            {{ template_content }}
        </main>

        {{ partial src="navigations/footer" }}
        {{ partial src="navigations/menu" }}
        {{ partial src="components/transition" }}
    </body>
</html>