<h1 data-version="{{ version }}" data-ref="title" class="c-hero_title">
  <span data-ref="lines" class="c-hero_line">
    {{ text_1 }}
  </span>
  <span data-ref="lines" class="c-hero_line">
    {{ text_2 }}
  </span>

  <span class="c-hero_line -image">
      <span data-ref="lines" class="c-hero_text"> 
        {{ text_3 }}
      </span>

    {{ image }}
      <span data-ref="imageContainer" class="c-hero_image" data-clip-path="inset(52% calc(100% - (58% + 32.2265625vh)) calc(100% - (52% + 15.0390625vh)) 58%)" data-transform="scale(.37) translateX(55vh) translateY(46vh)">
        <img data-ref="image" class="c-image -cover" src="{{ image.url }}" alt="">
      </span>
    {{ /image }}
  </span>

  <span data-ref="lines" class="c-hero_line">
    {{ text_4 }}
  </span>
</h1>