@use "@!/tools/functions" as *;
@use "@!/utilities/mixins" as *;
@use "@!/components/blocks-images-sticky/abstract" as *;
@use "@!/components/blocks-images-sticky/text-media" as *;
@use "@!/components/blocks-images-sticky/accordions" as *;
@use "@!/components/blocks-images-sticky/infos-list" as *;

.c-blocks-images-sticky {
  &_blocks {
    position: relative;
    margin-top: calc(9.27734375vh);
    padding-top: view-clamp(100px, 100px);
  }
  
  &_images {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
  }

  &_image {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + var(--grid-margin));
    height: 100%;
    z-index: 1;
  }
}