@use "@!/tools/functions" as *;
@use "@!/utilities/mixins" as *;

.c-header {
  position: fixed;
  right: var(--grid-margin);
  z-index: 50;
  top: clamp(rem(10px), 3.95507812vh, 3.95507812vh);
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive-scale("column-gap", 10px, 20px);

  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive-scale("column-gap", 10px, 20px);
    padding: 0;
    margin: 0;
  }

  &_item {
    font-size: view-clamp(16px);
  }

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: view-clamp(10px);
    padding-inline: view-clamp(15px);
    height: view-clamp(42px);
    background-color: var(--color-pearl);
    border-radius: rem(8px);
    color: var(--color-charcoal);
    text-transform: uppercase;
    box-shadow: 0px 4px 4px 0px rgba(60, 61, 61, 0.04);
  }

  &.-is-open {
    .c-header_button_icon {
      span {
        
        &:nth-of-type(1) {
          transform: translateX(2px) rotate(45deg)  translateY(6.5px);
        }
        &:nth-of-type(2) {
          opacity: 0
        }
        &:nth-of-type(3) {
          transform:  translateX(2px) rotate(-45deg) translateY(-6.5px);
        }
      }
    }
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: view-clamp(10px);
    padding-inline: view-clamp(15px);
    height: view-clamp(42px);
    background-color: var(--color-charcoal);
    border-radius: rem(8px);
    color: var(--color-pearl);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(60, 61, 61, 0.04);

    &_icon {
      display: flex;
      flex-direction: column;
      row-gap: 3.23px;

      span {
        display: block;
        background-color: #D9D9D9;
        width: rem(17.3px);
        height: rem(1.5px);
        transition: all 0.3s ease-out;
      }
    }
  }
}