@use "@!/tools/functions" as *;
@use "@!/utilities/mixins" as *;

.c-hero {
  position: relative;
  height: 100%;
  width: 200vw;
  background-color: var(--color-background);

  &_inner {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_title {
    //padding-top: 9.27734375vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18.5546875vh;
    line-height: 18.5546875vh;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "Source Serif 4";
    color: var(--color-mint);
  }

  &_line {
    z-index: 2;
    
    &.-image {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    .c-hero_text {
      transform: translate3d(-17.5vh, 0, 0);
    }

    &.-centered {
      padding: 10vh 0;
    }
  }

  &_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.15);
    }
    
    &:not(.-centered) {
      clip-path: polygon(
        58% 52%,
        calc(58% + 32.2265625vh) 52%,
        calc(58% + 32.2265625vh) calc(52% + 15.0390625vh),
        58% calc(52% + 15.0390625vh)
      );

      .c-image {
        transform: scale(.37) translateX(55vh) translateY(46vh);
      }
    }

    &.-centered {
      //clip-path: inset(40% 36% 38% 36%);

      .c-image {
        //transform: scale(.33);
      }
    }
    
  }
}