@use "@!/tools/functions" as *;
@use "@!/utilities/mixins" as *;

.c-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  height: 100%;
  width: 100%;
  overflow: visible;
  pointer-events: none;
  
  &_inner {
    position: relative;
    height: 100%;
    width: calc(55% - 2 * var(--grid-margin));
    margin-left: var(--grid-margin);
  }

  &_lica {
    position: absolute;
    top: clamp(rem(10px), 3.95507812vh, 3.95507812vh);
    left: 0;
    height: auto;
    width: auto;
    min-width: rem(65.88px);
    max-width: 100%;
    max-height: 70vh;
  }

  &_planification {
    position: absolute;
    top: clamp(rem(10px), 3.95507812vh, 3.95507812vh);
    left: 0;
    height: auto;
    width: auto;
    min-width: rem(65.86px);
    max-width: 100%;
    max-height: 10vh;
  }
}

.c-logo-nav {
  position: fixed;
  left: 0;
  top: 0;
  overflow: visible;
  left: var(--grid-margin);
  top: clamp(rem(10px), 3.95507812vh, 3.95507812vh);
}