@use "@!/tools/functions" as *;
@use "@!/utilities/mixins" as *;

.c-media-grid {
  position: relative;
  background-color: var(--color-sand);
  padding-block: view-clamp(150px) view-clamp(124px);
  width: 100%;

  &.-media-2 {
    .c-media-grid_image {
      &.-image-1 img {
        aspect-ratio: 480 / 480;
      }
    }
  }

  &_image {
    position: relative;
    overflow: hidden;

    &.-image-1 {
      grid-row: 2 / span 1;
    }
    &.-image-2 {
      grid-row: 1 / span 2;
    }
    &.-image-3 {
      grid-row: 1 / span 1;
    }

  }

}