@use "@!/tools/functions" as *;
@use "@!/utilities/mixins" as *;

.c-text {
  font-family: "Inter";

  &.-body-section {
    text-transform: uppercase;
    font-size: var(--font-size-body-section);
    line-height: var(--line-height-body-section);
    font-weight: 400;
  }

  &.-body-large {
    font-size: var(--font-size-body-large);
    line-height: var(--line-height-body-large);
    font-weight: 400;
  }

  &.-body-mini {
    font-size: var(--font-size-body-mini);
    line-height: var(--line-height-body-mini);

    p {
      font-size: var(--font-size-body-mini);
      line-height: var(--line-height-body-mini);
    }
  }
  
  &.-body {
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);

    p {
      font-size: var(--font-size-body);
      line-height: var(--line-height-body);
    }
  }

  &.-asterisk {
    &:before {
      content: url('data:image/svg+xml,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.31007 7.04361L5.99418 5.13597C5.85378 4.30443 5.72509 3.52181 5.60809 2.7881C5.51449 2.05439 5.46769 1.51633 5.46769 1.17394C5.46769 0.782624 5.54959 0.489141 5.71339 0.293484C5.90058 0.0978281 6.15798 0 6.48557 0C6.81316 0 7.05886 0.0978281 7.22266 0.293484C7.40985 0.489141 7.50345 0.782624 7.50345 1.17394C7.50345 1.51633 7.45665 2.05439 7.36305 2.7881C7.26945 3.52181 7.15246 4.30443 7.01206 5.13597L6.66107 7.04361H6.31007ZM6.41537 7.22704L4.59021 6.93356C3.79462 6.83573 3.04584 6.72567 2.34385 6.60339C1.64187 6.45664 1.13878 6.33436 0.834583 6.23653C0.48359 6.11425 0.237895 5.94305 0.097498 5.72294C-0.0194996 5.47837 -0.0311994 5.19711 0.0623987 4.87917C0.179396 4.53677 0.354893 4.31666 0.588888 4.21883C0.822884 4.09655 1.11538 4.09655 1.46637 4.21883C1.79396 4.31666 2.27365 4.53677 2.90544 4.87917C3.56063 5.19711 4.22752 5.56396 4.9061 5.97973L6.55577 6.86019L6.41537 7.22704ZM6.62597 7.15367L5.81868 8.87789C5.49109 9.63605 5.1518 10.3453 4.8008 11.0056C4.47321 11.666 4.21582 12.1307 4.02862 12.3997C3.79462 12.7176 3.54893 12.9133 3.29153 12.9867C3.03414 13.0356 2.77674 12.95 2.51935 12.7299C2.26195 12.5342 2.10986 12.3019 2.06306 12.0328C2.03966 11.7638 2.14496 11.4703 2.37895 11.1524C2.56615 10.8834 2.90544 10.4798 3.39683 9.94176C3.88822 9.40371 4.42641 8.85343 5.0114 8.29092L6.34517 6.93356L6.62597 7.15367ZM6.62597 6.93356L7.95974 8.29092C8.56813 8.85343 9.11802 9.40371 9.60941 9.94176C10.1008 10.4798 10.4401 10.8834 10.6273 11.1524C10.8379 11.4703 10.9198 11.7638 10.873 12.0328C10.8496 12.3019 10.7092 12.5342 10.4518 12.7299C10.1944 12.95 9.937 13.0356 9.67961 12.9867C9.42221 12.9133 9.17652 12.7176 8.94252 12.3997C8.77873 12.1307 8.52133 11.666 8.17034 11.0056C7.84274 10.3453 7.50345 9.63605 7.15246 8.87789L6.34517 7.15367L6.62597 6.93356ZM6.41537 6.86019L8.06504 5.97973C8.76702 5.56396 9.43391 5.19711 10.0657 4.87917C10.7209 4.53677 11.2006 4.31666 11.5048 4.21883C11.8558 4.09655 12.1483 4.09655 12.3823 4.21883C12.6396 4.31666 12.8268 4.53677 12.9438 4.87917C13.0374 5.19711 13.014 5.47837 12.8736 5.72294C12.7332 5.94305 12.4876 6.11425 12.1366 6.23653C11.8324 6.33436 11.3293 6.45664 10.6273 6.60339C9.9253 6.72567 9.17652 6.83573 8.38093 6.93356L6.55577 7.22704L6.41537 6.86019Z" fill="%233C3D3D"/></svg>');
      margin-right: rem(2px);
    }
  }
}