@use "@!/tools/functions" as *;
@use "@!/utilities/mixins" as *;

.c-blocks-image-sticky_abstract {
  padding-bottom: view-clamp(72px);

  &_content {
    margin-top: view-clamp(20px, 60px);
  }

  &_asterisk {
    font-size: view-clamp(70px);
    line-height: view-clamp(70px);
    font-family: "Source Serif 4";
  }

  &_text {
    color: var(--color-charcoal-light);
  }
}