// ==========================================================================
// Settings / Config / Fonts
// ==========================================================================

// Font fallbacks (retrieved from systemfontstack.com on 2022-05-31)
// ==========================================================================
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

$font-fallback-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
  sans-serif;
$font-fallback-serif: Iowan Old Style, Apple Garamond, Baskerville,
  Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-fallback-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
  monospace;

// Typefaces
// ==========================================================================

// List of custom font faces as tuples.
//
// ```
// <font-name> <font-file-basename> <font-weight> <font-style>
// ```
$font-faces: (
  /* ("Source Serif 4", "SourceSerif4-Black", 900, normal),
  ("Source Serif 4", "SourceSerif4-BlackItalic", 900, italic),
  ("Source Serif 4", "SourceSerif4-ExtraBoldItalic", 800, italic),
  ("Source Serif 4", "SourceSerif4-ExtraBold", 800, normal),
  ("Source Serif 4", "SourceSerif4-BoldItalic", bold, italic),
  ("Source Serif 4", "SourceSerif4-Bold", bold, normal),
  ("Source Serif 4", "SourceSerif4-ExtraLightItalic", 200, italic),
  ("Source Serif 4", "SourceSerif4-ExtraLight", 200, normal),
  ("Source Serif 4", "SourceSerif4-Italic", 400, italic),
  ("Source Serif 4", "SourceSerif4-Light", 300, normal),
  ("Source Serif 4", "SourceSerif4-LightItalic", 300, italic),
  ("Source Serif 4", "SourceSerif4-Medium", 500, normal),
  ("Source Serif 4", "SourceSerif4-MediumItalic", 500, italic),
  ("Source Serif 4", "SourceSerif4-Regular", 400, normal),
  ("Source Serif 4", "SourceSerif4-SemiBold", 600, normal),
  ("Source Serif 4", "SourceSerif4-SemiBoldItalic", 600, italic),
  ("Source Serif 4", "SourceSerif4-Thin", 100, normal),
  ("Source Serif 4", "SourceSerif4-ThinItalic", 100, italic), */

  ("Inter", "Inter-BlackItalic", 900, italic),
  ("Inter", "Inter-Black", 900, normal),
  ("Inter", "Inter-ExtraBoldItalic", 800, italic),
  ("Inter", "Inter-ExtraBold", 800, normal),
  ("Inter", "Inter-BoldItalic", bold, italic),
  ("Inter", "Inter-Bold", bold, normal),
  ("Inter", "Inter-ExtraLightItalic", 200, italic),
  ("Inter", "Inter-ExtraLight", 200, normal),
  ("Inter", "Inter-Italic", 400, italic),
  ("Inter", "Inter-Light", 300, normal),
  ("Inter", "Inter-LightItalic", 300, italic),
  ("Inter", "Inter-Medium", 500, normal),
  ("Inter", "Inter-MediumItalic", 500, italic),
  ("Inter", "Inter-Regular", 400, normal),
  ("Inter", "Inter-SemiBold", 600, normal),
  ("Inter", "Inter-SemiBoldItalic", 600, italic),
  ("Inter", "Inter-Thin", 100, normal),
  ("Inter", "Inter-ThinItalic", 100, italic),
);

// Map of font families.
//
// ```
// <font-id>: (<font-name>, <font-fallbacks>)
// ```
$font-families: (
  sans: join("Inter", $font-fallback-sans, $separator: comma),
  /* serif: join("Source Serif 4", $font-fallback-sans, $separator: comma), */
);

// Font directory
$font-dir: "../fonts/";

// Functions
// ==========================================================================

// Imports the custom font.
//
// The mixin expects font files to be woff and woff2.
//
// @param  {List}   $webfont - A custom font to import, as a tuple:
//     `<font-name> <font-file-basename> <font-weight> <font-style>`.
// @param  {String} $dir     - The webfont directory path.
// @output The `@font-face` at-rule specifying the custom font.

@mixin font-face($webfont, $dir) {
  @font-face {
    font-display: swap;
    font-family: nth($webfont, 1);
    src: url("#{$dir}#{nth($webfont, 2)}.woff2") format("woff2"),
      url("#{$dir}#{nth($webfont, 2)}.woff") format("woff");
    font-weight: #{nth($webfont, 3)};
    font-style: #{nth($webfont, 4)};
  }
}

// Imports the list of custom fonts.
//
// @require {mixin} font-face
//
// @param  {List<List>} $webfonts - List of custom fonts to import.
//     See `font-face` mixin for details.
// @param  {String}     $dir      - The webfont directory path.
// @output The `@font-face` at-rules specifying the custom fonts.

@mixin font-faces($webfonts, $dir) {
  @if (length($webfonts) > 0) {
    @if (type-of(nth($webfonts, 1)) == "list") {
      @each $webfont in $webfonts {
        @include font-face($webfont, $dir);
      }
    } @else {
      @include font-face($webfonts, $dir);
    }
  }
}

// Retrieves the font family stack for the given font ID.
//
// @require {variable} $font-families - See settings directory.
//
// @param  {String} $font-family - The custom font ID.
// @throws Error if the $font-family does not exist.
// @return {List} The font stack.

@function ff($font-family) {
  @if not map-has-key($font-families, $font-family) {
    @error "No font-family found in $font-families map for `#{$font-family}`.";
  }

  $value: map-get($font-families, $font-family);
  @return $value;
}
