// ==========================================================================
// Settings / Config / Colors
// ==========================================================================


// Palette
// ==========================================================================

$colors: (
    mint:           #00AA78,
    bottle-m1:      #2F473D,
    bottle-m2:      #325647,
    sky:            #C7E3F5,
    pearl:          #F7F4F3,
    sand:           #E5E2DF,
    charcoal:       #3C3D3D,
    lightest:       #F7F4F3,
    darkest:        #3C3D3D,
);

// Function
// ==========================================================================

// Returns color code.
//
// ```scss
// .c-box {
//     color: color(primary);
// }
// ```
//
// @param  {string} $key - The color key in $colors.
// @param  {number} $alpha - The alpha for the color value.
// @return {color}

@function color($key, $alpha: 1) {
    @if not map-has-key($colors, $key) {
        @error "Unknown '#{$key}' in $colors.";
    }

    @if($alpha < 0 or $alpha > 1) {
        @error "Alpha '#{$alpha}' must be in range [0, 1].";
    }

    $color: map-get($colors, $key);

    @return rgba($color, $alpha);
}

// Specifics
// ==========================================================================

// Link
$color-link:           color(charcoal);
$color-link-focus:     color(mint);
$color-link-hover:     darken(color(mint), 10%);

// Selection
$color-selection-text:         color(darkest);
$color-selection-background:   color(lightest);

// Socials
$color-facebook:    #3B5998;
$color-instagram:   #E1306C;
$color-youtube:     #CD201F;
$color-twitter:     #1DA1F2;
$color-x:           #000000;